@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  color: #fff;
}

.app:before {
  content: '';
  background: url('./assets/sunset4.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}






::placeholder {
  color: #f8f8f8;
}

.container {
  color: #ffffffd1;
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.app-title {
  color: #ffffffd1;
  text-align: center;
  font-size: 6rem;  /* 调整字体大小 */
  padding-top: 13.5%;  /* 根据需要调整上边距 */
  justify-content: center;
  align-items: center;  /* 如果需要垂直居中 */
  font-weight: 570; /* 添加这一行 */
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.top {
  display: flex;     /* 使用flex布局 */
  justify-content: space-between;  /* 左右内容之间留有空间 */
  align-items: center; /* 垂直居中内容 */
}

.left-side, .right-side {
  flex: 1;  /* 每侧占用相等的空间 */
  padding: 0 1rem;  /* 根据需要增加内边距 */

  
}

.app .description {
  position: relative;
  /* right: -90%; */
  transform-origin: 0 0;
  /* transform: rotate(269deg); */
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}


.footer {
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-top: 0px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  color: #ffffffb5;
  margin: 0.5rem 0;
  font-size: 0.85rem;  /* reduce font size */
}

.footer a {
  color: #ffffffb5;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 0.85rem;  /* reduce font size */
}

.footer a:hover {
  text-decoration: underline;
}



.help-icon {
  position: absolute;  /* 使用 fixed 而不是 absolute */
  top: 3%;
  right: 3%;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999; /* 为了确保它始终在其他内容的上面 */
}
.help-icon span {
  color: #ffffff9a;
  font-size: 20px;
  font-weight: bold;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: -21px; /* 调整这个值可以控制向下偏移的程度 */
  right: 100%; /* 这样就会把tooltip放在help-icon的左边 */
  transform: translateX(-10px); /* 这里的-10px会使其往左侧再偏移10px */
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffffc1;
  padding: 10px 10px;
  border-radius: 7px;
  font-size: 14px;
  width: 190px; 
  max-width: 500px;   
  word-wrap: break-word;   

}

.help-icon:hover .tooltip {
  display: block;
}


